<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
      crossorigin="anonymous"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.lordicon.com/qjzruarw.js"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static',filename='styles/edit.css') }}" />
    <title>CISS - Input</title>
  </head>
  <body>
    <header>
      <div class="px-3 py-2 text-bg-light">
        <div class="container">
          <div
            class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
          >
            <a
              href="/"
              class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none"
            >
              <img
                src="{{ url_for('static',filename='images/projectLogo.svg') }}"
                alt="Project Logo"
                width="40"
              />
            </a>

            <ul
              class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small"
            >
              <li>
                <a href="#" class="nav-link text-dark">
                  <lord-icon
                    src="https://cdn.lordicon.com/gmzxduhd.json"
                    trigger="hover"
                    colors="primary:#121331,secondary:#841617"
                    stroke="95"
                    state="hover"
                    style="width: 40px; height: 40px"
                  >
                  </lord-icon>
                  <br />
                  Home
                </a>
              </li>
              <li>
                <a
                  href="#"
                  class="nav-link text-dark"
                  style="
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    padding: 0;
                    margin-left: 10px;
                  "
                >
                  <lord-icon
                    src="https://cdn.lordicon.com/wloilxuq.json"
                    trigger="hover"
                    colors="primary:#121331,secondary:#841617"
                    state="hover-2"
                    style="
                      width: 50px;
                      height: 50px;
                      align-self: center;
                      margin-top: 3px;
                    "
                  >
                  </lord-icon>
                  <div
                    style="
                      height: 25px;
                      align-self: center;
                      line-height: 25px;
                      margin-bottom: 0px;
                      margin-top: 0px;
                    "
                  >
                    Edit Courses
                  </div>
                </a>
              </li>
              <li>
                <a
                  href="#"
                  class="nav-link text-dark"
                  style="margin-left: 10px"
                >
                  <lord-icon
                    src="https://cdn.lordicon.com/anihkfxp.json"
                    trigger="hover"
                    colors="primary:#121331,secondary:#841617"
                    stroke="80"
                    style="width: 40px; height: 40px"
                  >
                    >
                  </lord-icon>
                  <br />
                  Tasks
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </header>
    <div id="title">
      <h1>Enter your course CRNs below:</h1>
    </div>
    <div id="formContainer">
      <form action="{{ url_for('tasks') }}" method="post">
        {{ form.csrf_token }}


        {% if form.crn1.errors %}
          {{ form.crn1(class_="form-control form-control-lg is-invalid", placeholder="CRN 1: ", autocomplete="off") }}
            <div class="invalid-feedback">
                {% for error in form.crn1.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
          {% else %}
            {{ form.crn1(class_="form-control form-control-lg", placeholder="CRN 1: ", autocomplete="off") }}
        {% endif %}


        {% if form.crn2.errors %}
          {{ form.crn2(class_="form-control form-control-lg is-invalid", placeholder="CRN 2: ", autocomplete="off") }}
            <div class="invalid-feedback">
                {% for error in form.crn2.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
          {% else %}
            {{ form.crn2(class_="form-control form-control-lg", placeholder="CRN 2: ", autocomplete="off") }}
        {% endif %}


        {% if form.crn3.errors %}
          {{ form.crn3(class_="form-control form-control-lg is-invalid", placeholder="CRN 3: ", autocomplete="off") }}
            <div class="invalid-feedback">
                {% for error in form.crn3.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
          {% else %}
            {{ form.crn3(class_="form-control form-control-lg", placeholder="CRN 3: ", autocomplete="off") }}
        {% endif %}


        {% if form.crn4.errors %}
          {{ form.crn4(class_="form-control form-control-lg is-invalid", placeholder="CRN 4: ", autocomplete="off") }}
            <div class="invalid-feedback">
                {% for error in form.crn4.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
          {% else %}
            {{ form.crn4(class_="form-control form-control-lg", placeholder="CRN 4: ", autocomplete="off") }}
        {% endif %}


        {% if form.crn5.errors %}
          {{ form.crn5(class_="form-control form-control-lg is-invalid", placeholder="CRN 5: ", autocomplete="off") }}
            <div class="invalid-feedback">
                {% for error in form.crn5.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
          {% else %}
            {{ form.crn5(class_="form-control form-control-lg", placeholder="CRN 5: ", autocomplete="off") }}
        {% endif %}


        {% if form.crn6.errors %}
          {{ form.crn6(class_="form-control form-control-lg is-invalid", placeholder="CRN 6: ", autocomplete="off") }}
            <div class="invalid-feedback">
                {% for error in form.crn6.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
          {% else %}
            {{ form.crn6(class_="form-control form-control-lg", placeholder="CRN 6: ", autocomplete="off") }}
        {% endif %}

        <button type="submit" class="btn btn-danger" >Submit</button>
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
          {% endwith %}
      </form>
    </div>
    <footer>
      <div id="footerDiv">
        <div id="misimgDiv">
          <img
            src="{{ url_for('static',filename='images/MIS.png') }}"
            alt="MIS at the university of oklahoma"
            id="misimg"
          />
        </div>
        <div id="info">
          This project was developed by Blake Hays and Joshua Hooper
        </div>
      </div>
    </footer>
  </body>
</html>
