<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
  <link rel="stylesheet" type= "text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css"/>

</head>

<body>

<div>

</div>

<div>

  <table id="table1" class="display" style="width:100%">
      <thead>
          <tr>
              <th>Index</th>
              <th>CRN</th>
              <th>Subject</th>
              <th>Course</th>
              <th>Section</th>
              <th>Section Title</th>
              <th>Primary Instructor</th>
              <th>Course Dates</th>
              <th>Seats Left</th>
              <th>Wait List</th>
          </tr>
      </thead>
      <tfoot>
          <tr>
              <th>Index</th>
              <th>CRN</th>
              <th>Subject</th>
              <th>Course</th>
              <th>Section</th>
              <th>Section Title</th>
              <th>Primary Instructor</th>
              <th>Course Dates</th>
              <th>Seats Left</th>
              <th>Wait List</th>
          </tr>
      </tfoot>
        </table>

</div>


</body>
</html>